body {
    background-image: url("http://localhost/UTS-PBW-12118538/image/background.jpg");
    background-size: 100% 100%;
    margin: auto;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.menu {
    font-family: tahoma;
    height: 80px;
    width: 80%;
    background: black;
    border-radius: 15px;
    font-size: 10px;
    box-shadow: 4px 2px 1px rgb(172, 92, 27);
    margin: 0 auto;
}


label {
    font-family: comic sans ms;
    font-size: 30pt;
    color: white;
    margin: 5px 20px 30px;
    padding: 5px;
    float: left;
    text-shadow:  2px 1px 1px whitesmoke;
}

.menu ul {
    margin: 0px;
    padding: 10px;
    background: none;
    float: right;
}

.menu ul li {
    list-style: none;
    display: inline-block;
    font-weight: bold;
}

.menu ul li a {
    font-size: 15px;
    display: block;
    text-decoration: none;
    padding: 20px;
    color: #ddd;
}



.box2{
    width:466px;
    height:288px;
    background:white;
    border-radius: 30px;
    margin: 0 auto;
    float: right;
    box-shadow:10px 5px 7px rgb(172, 92, 27);
    padding: 100px;
}

.box1{
    width:1120px;
    height:520px;
    background:whitesmoke;
    border-radius: 30px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 50px;
    
}


.box1 img {
    width: 350px;
}

.box2 h3 {
    font-size: 50px;
    margin: 40px;
    font-family: serif;
    margin-bottom: 25px;
    margin-top: -56px;
}


    .footer {
    width: 100%;
    height: 50px;
    color: white;
    background: black;
    text-align: center;
    padding: 20px;
    margin-top: 80px;
    position: absolute;
    }

table{
    margin: 8px;
    padding-bottom: 2px;
}

table td{
    padding: 8px;
    font-family: tahoma;

}

input[type=text], input[type=number], input[type=email] {
    padding: 3px 15px;
    border-style: double;
}


input[type=submit] {
  background-color: blueviolet;
  border: none;
  color: white;
  padding: 10px 24px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}
