body {
    background-image: url("http://localhost/UTS-PBW-12118538/image/background.jpg");
    background-size: 100% 100%;
    margin: auto;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.menu {
    font-family: tahoma;
    height: 80px;
    width: 80%;
    background: black;
    border-radius: 15px;
    font-size: 10px;
    box-shadow: 4px 2px 1px rgb(172, 92, 27);
    margin: 0 auto;
}


label {
    font-family: comic sans ms;
    font-size: 30pt;
    color: white;
    margin: 5px 20px 30px;
    padding: 5px;
    float: left;
    text-shadow:  2px 1px 1px whitesmoke;
}

.menu ul {
    margin: 0px;
    padding: 10px;
    background: none;
    float: right;
}

.menu ul li {
    list-style: none;
    display: inline-block;
    font-weight: bold;
}

.menu ul li a {
    font-size: 15px;
    display: block;
    text-decoration: none;
    padding: 20px;
    color: #ddd;
}

.box3 {
    width:820px;
    height:400px;
    background:white;
    border-radius: 30px;
    margin: 0 auto;
    margin-top: 0 px;
    float: center;
    box-shadow:10px 5px 7px rgb(172, 92, 27) ;
    padding: 50px;
}

.box3 h3 {
    font-family: inherit;
    font-size: 30px;
}

.box4{
    width:1120px;
    height:520px;
    background:whitesmoke;
    border-radius: 30px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 50px;
    
}

    .footer {
    width: 100%;
    height: 50px;
    color: white;
    background: black;
    text-align: center;
    padding: 20px;
    margin-top: 80px;
    }

table {
    margin: 0px 50px;

}